
<div class="hero-area">
    <div class="container-fluid">
        <div class="hero-bg-area pt-150 pb-120" data-background="assets/img/hero-area-bg.jpg">                            
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8">
                <div class="hero-content-area">
                    <div class="section-title">
                        <h1 class="text-white wow fadeInUp" data-wow-delay=".2s">Protecting Your <br>Personal Rights</h1>                        
                    </div> 
                    <p class="text-white wow fadeInDown" data-wow-delay=".4s">Adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. <br> Ut enim ad minim veniam natus error sit voluptatem acc.</p>                   
                    <a href="about.html" class="theme-btn mt-30 wow fadeInUp" data-wow-delay=".6s">About Us</a>
                </div>                    
            </div>                
        </div>
        </div>
    </div>        
</div>

<!-- Service Section  -->
<div id="service-2" class="service-section section-padding pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="service-content-wrap">
                    <div class="section-title">
                        <h6>Legal Services</h6>
                        <h2>Resolve your legal issues with our help</h2>
                    </div>
                    <p>Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernaturaut odit aut fugit, sed quia.</p>
                    <div class="about-btn mt-40">
                        <a href="services.html" class="theme-btn">Our Practice</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="service-item-wrap">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mt-30 wow fadeInUp" data-wow-delay=".2s">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <span><i class="flaticon-international-business"></i></span>
                                </div>
                                <div class="service-title">
                                    <h4>Business Law</h4>
                                </div>
                                <p>Vestibulum vestibulum posuere luctus pretium.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <span><i class="flaticon-family"></i></span>
                                </div>
                                <div class="service-title">
                                    <h4>Family Law</h4>
                                </div>
                                <p>Vestibulum vestibulum posuere luctus pretium.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <span><i class="flaticon-balance"></i></span>
                                </div>
                                <div class="service-title">
                                    <h4>Criminal Law</h4>
                                </div>
                                <p>Vestibulum vestibulum posuere luctus pretium.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mtm-30 wow fadeInUp" data-wow-delay=".8s">
                            <div class="single-service-item">
                                <div class="service-icon">
                                    <span><i class="flaticon-contract"></i></span>
                                </div>
                                <div class="service-title">
                                    <h4>Personal Injury</h4>
                                </div>
                                <p>Vestibulum vestibulum posuere luctus pretium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section  -->

<div id="about-2" class="about-section gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about-bg-wrap wow fadeInUp" data-wow-delay=".2s">
                    <img src="assets/img/about/2-1.jpg" alt="">
                </div>
                <a href="about.html">
                    <div class="circle-button in-bord">
                        <div class="rotate-circle fz-30 text-u">
                            <svg class="textcircle" viewBox="0 0 500 500">
                                <defs>
                                    <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z">
                                    </path>
                                </defs>
                                <text>
                                    <textPath xlink:href="#textcircle" textLength="900">Explore More
                                        -
                                        Explore More -</textPath>
                                </text>
                            </svg>
                        </div>
                        <div class="arrow">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about-content-wrap">
                    <div class="section-title">
                        <h6>Legal Advice</h6>
                        <h2>Entrust your future <br> to professionals</h2>
                    </div>
                    <h3>Prizon is a team of experienced employee, <br> attorney and expert lawyer.</h3>
                    <p>Dicta sunt explicabo. Nemo enim ipsam voluptatem quia <br> voluptas sit aspernatur aut odit aut fugit sed quia.</p>
                </div>
                <div class="about-bg-wrap-2 mt-60 wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/about/2-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts Section  -->
<div class="funfacts-section gray-bg section-padding pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="funfacts-content-left">
                    <div class="section-title">
                        <h6>Law Firm</h6>
                        <h2>We know how to protect</h2>
                    </div>
                    <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed. Beatae vitae dicta sunt.</p>
                    <a href="about.html" class="dark-btn mt-30">About Us</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="funfacts-wrap">
                    <div class="funfacts-number">
                        <p class="counter-number"><span>100</span>+</p>
                    </div>
                    <div class="funfacts-content">
                        <h5>Cases Closed</h5>
                        <p>Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                <div class="funfacts-wrap">
                    <div class="funfacts-number">
                        <p class="counter-number"><span>2587</span></p>
                    </div>
                    <div class="funfacts-content">
                        <h5>Happy Clients</h5>
                        <p>Natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Section  -->
<div class="video-section">        
    <div class="container-fluid">
        <div class="video-inner-box" data-background="assets/img/video-bg-2.jpg">            
            <div class="play-btn">
                <a href="https://www.youtube.com/watch?v=7q0TRgDvT9k" class="video-play-btn mfp-iframe">Play</a>
            </div>
        </div>
    </div>        
</div>

<!-- Case Studies -->
<div class="case-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="section-title">
                    <h6>Case Studies</h6>
                    <h2>Our job is to provide legal help</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-xl-12">
                <div class="case-slider owl-carousel">

                    <a href="case-details.html" class="single-case-wrapper">
                        <div class="case-bg">
                            <img src="assets/img/case/5-1.jpg" alt="">
                        </div>
                        <div class="case-details">
                            <h5>Complicated Cases</h5>
                            <span>Criminal</span>
                        </div>
                    </a>

                    <a href="case-details.html" class="single-case-wrapper">
                        <div class="case-bg">
                            <img src="assets/img/case/5-2.jpg" alt="">
                        </div>
                        <div class="case-details">
                            <h5>Fruad Scheme</h5>
                            <span>Finance</span>
                        </div>
                    </a>

                    <a href="case-details.html" class="single-case-wrapper">
                        <div class="case-bg">
                            <img src="assets/img/case/5-3.jpg" alt="">
                        </div>
                        <div class="case-details">
                            <h5>Abuse Victim</h5>
                            <span>Family Law</span>
                        </div>
                    </a>

                    <a href="case-details.html" class="single-case-wrapper">
                        <div class="case-bg">
                            <img src="assets/img/case/5-4.jpg" alt="">
                        </div>
                        <div class="case-details">
                            <h5>Real Estate Fruad</h5>
                            <span>Corporate</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Price Section  -->
<div id="price-2" class="price-section section-padding pt-0 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 text-center">
                <div class="section-title">
                    <h6>Price Table</h6>
                    <h2>Law Firm Price Plans</h2>
                </div>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="single-price-item">
                    <div class="price-item-inner">
                        <div class="price-title">
                            <h5>Silver Pack</h5>
                        </div>                            
                        <div class="price-amount">
                            <h1>$29</h1>
                            <h6>per/month</h6>
                        </div>
                        <hr>
                        <div class="price-feature">
                            <ul>                                
                                <li>Mel detracto atomorum ne <i class="las la-check"></i></li>
                                <li>Eripuit minimum probatus <i class="las la-check"></i></li>
                                <li>Vix ex natum iracundia <i class="las la-check"></i></li>     
                                
                            </ul>
                        </div>
                        <div class="price-btn">
                            <a href="#" class="bordered-btn">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="single-price-item active">
                    <div class="price-item-inner">
                        <div class="price-title">
                            <h5>Gold Pack</h5>
                        </div>                            
                        <div class="price-amount">
                            <h1>$49</h1>
                            <h6>per/month</h6>
                        </div>
                        <hr>
                        <div class="price-feature">
                            <ul>                                
                                <li>Mel detracto atomorum ne <i class="las la-check"></i></li>
                                <li>Eripuit minimum probatus <i class="las la-check"></i></li>
                                <li>Vix ex natum iracundia <i class="las la-check"></i></li>     
                                
                            </ul>
                        </div>
                        <div class="price-btn">
                            <a href="#" class="bordered-btn">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="single-price-item">
                    <div class="price-item-inner">
                        <div class="price-title">
                            <h5>Platinum Pack</h5>
                        </div>                            
                        <div class="price-amount">
                            <h1>$69</h1>
                            <h6>per/month</h6>
                        </div>
                        <hr>
                        <div class="price-feature">
                            <ul>                                
                                <li>Mel detracto atomorum ne <i class="las la-check"></i></li>
                                <li>Eripuit minimum probatus <i class="las la-check"></i></li>
                                <li>Vix ex natum iracundia <i class="las la-check"></i></li>     
                                
                            </ul>
                        </div>
                        <div class="price-btn">
                            <a href="#" class="bordered-btn">Get Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonial Section  -->
<div id="testimonial-2" class="testimonial-section theme-bg section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 text-center">
                <div class="section-title">
                    <h6 class="text-white">Testimonial</h6>
                    <h2 class="text-white">We convince clients trust and loyalty</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-xl-7 col-lg-7 text-center">
                <div class="testimonial-wrapper owl-carousel">
                    <div class="single-testimonial-item">

                        <div class="testimonial-content">
                            <p class="text-white">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas aspernatur aut odit aut fugit, sed. Beatae vitae dicta. Adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="assets/img/testimonial/author-2.jpg" alt="">
                            <h6 class="text-white">Paul Scholes <span>Manchester, UK</span></h6>
                        </div>

                    </div>
                    <div class="single-testimonial-item">
                        <div class="testimonial-content">
                            <p class="text-white">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas aspernatur aut odit aut fugit, sed. Beatae vitae dicta. Adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="assets/img/testimonial/author-3.jpg" alt="">
                            <h6 class="text-white">Lisa Ray <span>New York, USA</span></h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Section  -->
<div id="blog-2" class="blog-section gray-bg section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 text-center">
                <div class="section-title">
                    <h6>Recent News</h6>
                    <h2>Our law firm blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="single-blog-item">
                    <div class="blog-meta">
                        <span class="text-black"><b>Civil Law</b></span>
                        <span class="date">February 07, 2024</span>
                    </div>
                    <div class="blog-title">
                        <h5 class="text-black">The best ways to protect your family and business in 2023</h5>
                    </div>
                    <p>Sed libero tortor, pellentesque nec diam ac, facilisis rutrum nunc. Duis sed efficitur dolor</p>
                    <a href="blog-details.html" class="read_more_link">
                        <span class="link_text">Read More</span>
                        <span class="link_icon"><i class="las la-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="single-blog-item">
                    <div class="blog-meta">
                        <span class="text-black"><b>Criminal Law</b></span>
                        <span class="date">February 10, 2024</span>
                    </div>
                    <div class="blog-title">
                        <h5 class="text-black">Ten myths about lawyers and criminal defence attorneys</h5>
                    </div>
                    <p>Sed libero tortor, pellentesque nec diam ac, facilisis rutrum nunc. Duis sed efficitur dolor</p>
                    <a href="blog-details.html" class="read_more_link">
                        <span class="link_text">Read More</span>
                        <span class="link_icon"><i class="las la-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="single-blog-item">
                    <div class="blog-meta">
                        <span class="text-black"><b>Labour Law</b></span>
                        <span class="date">February 15, 2024</span>
                    </div>
                    <div class="blog-title">
                        <h5 class="text-black">Workers charged in a pursuit that paralyzed a payment</h5>
                    </div>
                    <p>Sed libero tortor, pellentesque nec diam ac, facilisis rutrum nunc. Duis sed efficitur dolor</p>
                    <a href="blog-details.html" class="read_more_link">
                        <span class="link_text">Read More</span>
                        <span class="link_icon"><i class="las la-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA Section  -->
<div class="cta-section h-auto pt-80 pb-80 theme-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="cta-title">
                    <div class="section-title">
                        <h2 class="text-white">We solve critical solutions.</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-md-end">
                <div class="cta-btn">
                    <a href="contact.html" class="white-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
