
    <!-- Breadcrumb Area  -->

    <div class="breadcrumb-area bread-bg">  
        <div class="overlay"></div>  
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="breadcrumb-title">
                        <h1>About Us</h1>
                        <h6 class="text-white"><a href="index.html">Home</a> <span>/</span> About Us</h6>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <!-- About Section  -->
    <div id="about-1" class="about-section section-padding pb-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-img-wrap">
                        <div class="image-one wow fadeInUp" data-wow-delay=".2s">
                            <img src="assets/img/about/1-1.jpg" alt="">
                        </div>                        
                        <div class="image-two wow fadeInUp" data-wow-delay=".4s">
                            <img src="assets/img/about/1-2.jpg" alt="">
                        </div>                        
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-content-wrap">
                        <div class="section-title">
                            <h6>About Us</h6>
                            <h2>Your legal safety is <br> our top priority</h2>
                        </div>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        <ul class="about-key mt-30">
                            <li><i class="las la-check-square"></i>
                                <p>Best Legal Services</p>
                            </li>
                            <li><i class="las la-check-square"></i>
                                <p>100% Success Rate</p>
                            </li>
                            <li><i class="las la-check-square"></i>
                                <p>Expert Lawyer</p>
                            </li>
                            <li><i class="las la-check-square"></i>
                                <p>Affordable Cost Rate</p>
                            </li>
                        </ul>
                        <a href="about.html" class="theme-btn mt-30">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients Section -->

    <div class="client-section section-padding pt-0 pb-60">
        <div class="container">            
            <div class="row mt-60">
                <div class="client-wrap owl-carousel">
                <div class="clients-img-inner">
                    <img src="assets/img/client/1.jpg" alt="">
                </div>
                <div class="clients-img-inner">
                    <img src="assets/img/client/2.jpg" alt="">
                </div>
                <div class="clients-img-inner">
                    <img src="assets/img/client/3.jpg" alt="">
                </div>
                <div class="clients-img-inner">
                    <img src="assets/img/client/4.jpg" alt="">
                </div>
                <div class="clients-img-inner">
                    <img src="assets/img/client/5.jpg" alt="">
                </div>
                <div class="clients-img-inner">
                    <img src="assets/img/client/6.jpg" alt="">
                </div>                
                </div>
            </div>
        </div>
    </div>

    <!-- About Section  -->

    <div id="about-3" class="about-section gray-bg section-padding pb-60">
        <div class="container">
            <div class="row">            
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about-content-wrap">
                        <div class="section-title">
                            <h6>Our Mission</h6> 
                            <h2>The legal advisory is our expertise</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet adipscin elit volare el tempor consectetur amor eiusm volupte. Magna aliqua et enim.</p>
                        <div class="ceo-wrapper">
                        <div class="ceo-thumb">
                            <img src="assets/img/avatar1.jpg" alt="">
                        </div>
                        <div class="ceo-info">
                            <h5>Rojer Moore</h5>
                            <span>CEO, Factorix</span>
                        </div>
                        </div>                         
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about-desc-wrap">
                        <div class="row gx-5">
                            <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay=".2s">
                                <p><span class="dropcap_style">Q</span>nsectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, eiusm od tempor ut labore.</p>
                                <p>Consectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, sed do eiusm od tempor ut labore sed adipiscing  do eiusm od tempor ut sed do eiusm.</p>                                
                            </div>
                            <div class="col-xl-6 col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                                <p>Consectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, sed do od tempor ut labore.</p>
                                <p>Consectetur adipiscing elit, sed do eiusm onsectetur adipiscing elit, sed do eiusm od tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Counter Section -->

    <div id="counter-2" class="counter-section gray-bg section-padding pt-0 pb-60">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <p class="counter-number"><span>1037</span></p>
                        <h6>Project Completed</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <p class="counter-number"><span>156</span></p>
                        <h6>Qualified Team</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <p class="counter-number"><span>90</span>%</p>
                        <h6>Client Satisfaction</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-counter-box">
                        <p class="counter-number"><span>23</span>+</p>
                        <h6>Year of Experience</h6>
                    </div>
                </div>
            </div>        
        </div>    
    </div>

    <!-- Service Section  -->
    <div id="service-3" class="service-section section-padding">
        <div class="container">                        
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 text-center wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service-item theme-bg">
                        <div class="service-icon">
                            <i class="flaticon-agreement"></i>
                        </div>
                        <h5>Power of Attorney</h5>
                        <p>Consectetur adipiscing elit, sed do eiusm od tempor incididunt ut labore. </p>                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-service-item dark-bg">
                        <div class="service-icon">
                            <i class="flaticon-certificate"></i>
                        </div>
                        <h5>Disputes & Criminal Cases</h5>
                        <p>Consectetur adipiscing elit, sed do eiusm od tempor incididunt ut labore. </p>                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 text-center wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-service-item">
                        <div class="service-icon">
                            <i class="flaticon-book"></i>
                        </div>
                        <h5>Legal Services</h5>
                        <p>Consectetur adipiscing elit, sed do eiusm od tempor incididunt ut labore. </p>                       
                    </div>
                </div>                
            </div>          
        </div>
    </div>

    <!-- Promo Section  -->
    <div class="promo-section gray-bg section-padding">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="client-content-wrap">
                        <div class="section-title">
                            <h6>Custom Order</h6>
                            <h2>Have a cases? <br> Send a brief!</h2>
                        </div>
                        <p>Adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quisq wiusmod ut tempor incididunt ut labore et dolore sed do magna aliqua.</p>
                        <div class="contact-info-wrap">
                            <div class="contact-icon">
                                <i class="las la-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <p>infoprizon.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="progress-bar-area">
                        <div class="single-bar-item">
                            <h5>Legal Advice</h5>
                            <div class="bar-parcentage">90%</div>							
                        </div>
                        <div id="bar1" class="barfiller">						
                            <span class="fill" data-percentage="90"></span>
                        </div>

                        <div class="single-bar-item">
                            <h5>Case Dispute</h5>
                            <div class="bar-parcentage">70%</div>							
                        </div>
                        <div id="bar2" class="barfiller">								
                            <span class="fill" data-percentage="70"></span>
                        </div>

                        <div class="single-bar-item">
                            <h5>Notary Public</h5>
                            <div class="bar-parcentage">80%</div>							
                        </div>
                        <div id="bar3" class="barfiller">								
                            <span class="fill" data-percentage="80"></span>
                        </div>
                        
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <!-- Testimonial Section  -->
    <div class="testimonial-section">        
        <div class="testimonal-inner">
            <div class="section-title">
                <h6 class="text-white">Testimonial</h6>
                <h2 class="text-white">What they say</h2>
            </div>
            <div class="testimonial-content-wrap owl-carousel">
                <div class="single-testimonial-item">
                    <div class="quote-icon">
                        <img src="assets/img/straight-quotes-small.png" alt="">
                    </div>
                    <div class="testimonial-text">
                        <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                    </div>
                    <div class="author-thumb">
                        <img src="assets/img/testimonial/1.jpg" alt="">
                    </div>
                    <div class="testimonial-title">
                        <h5>Rhonda Najar</h5>
                        <p>Law Student</p>
                    </div>
                </div>
                <div class="single-testimonial-item">
                    <div class="quote-icon">
                        <img src="assets/img/straight-quotes-small.png" alt="">
                    </div>
                    <div class="testimonial-text">
                        <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                    </div>
                    <div class="author-thumb">
                        <img src="assets/img/testimonial/2.jpg" alt="">
                    </div>
                    <div class="testimonial-title">
                        <h5>Rhonda Najar</h5>
                        <p>Law Student</p>
                    </div>
                </div>
                <div class="single-testimonial-item">
                    <div class="quote-icon">
                        <img src="assets/img/straight-quotes-small.png" alt="">
                    </div>
                    <div class="testimonial-text">
                        <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                    </div>
                    <div class="author-thumb">
                        <img src="assets/img/testimonial/3.jpg" alt="">
                    </div>
                    <div class="testimonial-title">
                        <h5>Rhonda Najar</h5>
                        <p>Law Student</p>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="testimonial-bg"></div>
    </div>

    <!-- Team Section  -->

    <div class="team-section gray-bg section-padding pb-90">
        <div class="container">
            <div class="row gx-5 align-items-center">
                <div class="col-xl-4 col-lg-4">
                    <div class="section-title">
                        <h6>Meet the Elite</h6>
                        <h2>The Best Lawyers</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="team-desc">
                        <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitacion ullamco do euismod tempor incidunt quis nostrud exercitacion Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                
            </div>
            <div class="row gx-5">
                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-team-member">
                        <div class="team-bg">
                            <img src="assets/img/team/1.jpg" alt="">
                        </div>
                        <div class="team-hover-info">
                            <div class="team-title">
                                <h5>John Lewis</h5>
                                <span>Operator</span>
                            </div>                                    
                        </div>
                        <div class="social-icon">
                            <a href="#"><i class="lab la-facebook-f"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                            <a href="#"><i class="lab la-linkedin-in"></i></a>
                            <a href="#"><i class="la la-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-team-member">
                        <div class="team-bg">
                            <img src="assets/img/team/2.jpg" alt="">
                        </div>
                        <div class="team-hover-info">
                            <div class="team-title">
                                <h5>John Lewis</h5>
                                <span>Operator</span>
                            </div>                                    
                        </div>
                        <div class="social-icon">
                            <a href="#"><i class="lab la-facebook-f"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                            <a href="#"><i class="lab la-linkedin-in"></i></a>
                            <a href="#"><i class="la la-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-team-member">
                        <div class="team-bg">
                            <img src="assets/img/team/3.jpg" alt="">
                        </div>
                        <div class="team-hover-info">
                            <div class="team-title">
                                <h5>John Lewis</h5>
                                <span>Operator</span>
                            </div>                                    
                        </div>
                        <div class="social-icon">
                            <a href="#"><i class="lab la-facebook-f"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                            <a href="#"><i class="lab la-linkedin-in"></i></a>
                            <a href="#"><i class="la la-skype"></i></a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
