   <!-- Breadcrumb Area  -->

   <div class="breadcrumb-area bread-bg">  
    <div class="overlay"></div>  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb-title">
                    <h1>Blog</h1>
                    <h6 class="text-white"><a href="index.html">Home</a> <span>/</span> Blog</h6>
                </div>                    
            </div>
        </div>
    </div>
</div>

<!-- Blog Page  -->
<div class="blog-section gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".2s">
                    <div class="blog-img">
                        <img src="assets/img/blog/1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Civil Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>The best ways to protect your family and business in 2023</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 05 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".4s">
                    <div class="blog-img">
                        <img src="assets/img/blog/2.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Labour Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Workers charged in a pursuit that paralyzed a payment</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 15 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".6s">
                    <div class="blog-img">
                        <img src="assets/img/blog/3.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Criminal Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Ten myths about lawyers and criminal defence attorneys</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 28 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>                    
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/4.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Legal Service</span>
                        </div>
                        <div class="blog-title">
                            <h4>Legal services improvement sight of Court Area</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/5.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Criminal Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>4 officers charged in a pursuit crash that paralyzed a teen</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/6.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Family Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>The best ways to protect your family and business in 2023</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/7.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Business Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Which factors affect the legacy of a business deal?</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/8.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Civil Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Are these financial fraud cases worth your attention</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/9.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Legal Office</span>
                        </div>
                        <div class="blog-title">
                            <h4>How to find the right law firm to join near me?</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <ul class="pagination d-flex justify-content-center">                                        
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>                                        
                <li class="page-item"><a class="page-link" href="#"><i class="las la-angle-right"></i></a></li>                                        
            </ul>
        </div>
    </div>
</div>
